@media only screen and (max-width: 768px) {
	/*slider section style starts*/
	.carousel-item > img {
		height:400px;
	}
	/*slider secitn syele ends*/

	/*fixed item style starts*/
	#fixed-item {
		height: 88px;
	}
	.fixed-item-inner {
		width:100%;
	}
	.fixed-item-text {
		display: none;
	}
	.mob-fixed-item-text {
		text-align: center;
		color:white;
		font-weight: 600;
		font-size:14px;
		line-height: 1;
		margin-bottom: 0;
	}
	.horse.standLeft {
		float:none;
	}
	/*fixed item style ends*/

	/*navbar style starts*/
	#cust-nav {
		background-color: rgba(0,0,0,0.5);
	}

	#cust-nav .navbar-toggler {
	    color: rgba(255,255,255,1);
	    border-color: rgba(255,255,255,.8);
	    border-radius: 0;
	}

	#cust-nav .navbar-collapse {
		background-color: rgba(0,0,0,0.5);
	}

	#cust-nav .navbar-brand {
		margin-bottom: 17px;
	}

	#cust-nav .navbar-toggler {
		margin-bottom: 10px;
	}

	/*navbar style ends*/

	/*about sec style starts*/
	.abt-text-ctr {
		width:90%;
	}
	.abt-text-ctr p {
		font-size:15px;
	}
	/*about sec style ends*/

	/*portfolio sec start*/
	.port-box{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.port-overlay {
		height:70%;
	}
	/*portfolio sec ends*/

	/*contact sec starts*/
	.cont-list li {
		font-size:14px;
	}
	/*contact sec ends*/
}

@media only screen and (min-width: 769px) {
	/*navbar style starts*/
	#nav-brnd {
		display:none;
	}
	/*navbar style ends*/
	/*fixed-item style starts*/
	#fixed-item:hover .fixed-item-inner {
		left:-120px;
		background-color: rgba(0,0,0,0.9);
	}
	.mob-fixed-item-text {
		display: none;
	}
	/*fixed-item style ends*/
} 