
/*general style starts*/

.general-sec {
	padding:50px 0;
}

/*general style ends*/


/*slider section style starts*/
.carousel-item > img {
	height:600px;
	object-fit:cover;
	object-position:center;
	width:100%;
}

.carousel-item .carousel-caption {
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5), rgba(0,0,0,0.1));
}

/*slider section style ends*/